 body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #cccccc;
    }
    .container {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
      width: 300px;
    }
    h2 {
      text-align: center;
    }
    input {
      width: 95%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: #360ad6;
      color: white;
      cursor: pointer;
      margin-bottom: 10px;
    }
    button:hover {
      background: #12c03d;
    }
    .link {
      text-align: center;
      margin-top: 10px;
    }
    .link a {
      color: #007BFF;
      text-decoration: none;
    }